@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");



body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

.backaground-video{
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.wrapper{
    width: 400px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

form{
    display: flex;
    flex-direction: column;
}